In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from statsmodels.stats.weightstats import DescrStatsW

In [30]:
# Construct the file path using pathlib
file_path = Path('data/data_mb_all_years') / f'2021.csv'
csv = pd.read_csv(file_path)
csv

,S_Seker,MisparMb,Hodesh_Hakira,Shnat_Hakira,Quarter,Weight,Nefashot,NefeshStandartit,Mefarnesim,Nefashot0_4,...,c34,c35,c36,c37,c38,c39,RamatDatiyut,Sex_RMB,MaamadRMB,Religion
0,2021,28106,1,2021,1,383.712,2,2.00,0,NaN,...,0,305,1416,1981,596,6796,1,2,3,1
1,2021,28107,1,2021,1,114.092,1,1.25,0,NaN,...,52,305,520,1525,2831,900,1,2,3,1
2,2021,28108,2,2021,1,195.015,9,5.60,1,4.0,...,2421,0,510,447,2393,562,4,2,1,1
3,2021,28109,1,2021,1,755.693,2,2.00,0,NaN,...,186,0,563,1,176,0,3,2,3,1
4,2021,28110,1,2021,1,527.768,2,2.00,1,NaN,...,463,0,1403,112,46,0,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,2021,53760,2,2022,4,182.102,6,4.25,2,1.0,...,0,612,2103,2364,3088,21399,3,2,1,1
6053,2021,53762,1,2022,4,278.277,7,4.75,1,2.0,...,0,613,833,1487,89,644,4,2,2,1
6054,2021,58002,8,2021,3,604.582,3,2.65,0,NaN,...,0,0,141,0,617,0,2,1,3,3
6055,2021,58031,1,2022,4,429.712,3,2.65,1,NaN,...,681,0,863,248,340,52,2,2,1,1
6056,2021,65289,11,2021,4,500.224,1,1.25,0,NaN,...,0,0,597,148,89,0,1,2,3,1

In [95]:
df = csv[['MisparMb', 'NefeshStandartit', 'Weight', 'Total_Net', 'Decile']]
df['s_income'] = df['Total_Net'] / df['NefeshStandartit']

wq = DescrStatsW(df['s_income'], weights=df['Weight'])
deciles = wq.quantile(probs=np.arange(0, 1.1, 0.1), return_pandas=False)
deciles = deciles-0.1
deciles[len(deciles)-1] = deciles[len(deciles)-1]+0.2
print(deciles)

decile_labels = [i+1 for i in range(len(deciles)-1)]

# Creating a new column indicating the decile for each salary
df['my_decile'] = pd.cut(df['s_income'], bins=deciles, labels=decile_labels, include_lowest=True)

df[df['Decile'] != df['my_decile']]
# df

[  -127.1          2693.06666667   3715.525        4612.4
   5550.4          6699.1          7819.275        9084.275
  10808.4         13826.3        118071.3       ]

C:\Users\elad\AppData\Local\Temp\ipykernel_1752\4198010345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['s_income'] = df['Total_Net'] / df['NefeshStandartit']
C:\Users\elad\AppData\Local\Temp\ipykernel_1752\4198010345.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['my_decile'] = pd.cut(df['s_income'], bins=deciles, labels=decile_labels, include_lowest=True)

Empty DataFrame
Columns: [MisparMb, NefeshStandartit, Weight, Total_Net, Decile, s_income, my_decile]
Index: []